* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Body\.cls, #QRCode\.id {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Body\.cls > * {
    margin-top: 20px;
}

.Title\.cls {
    font-size: 2em;
    font-weight: 700;
}